body {
  background-color: #eff4f4;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header__title {
  font-size: 28px;
}

.header__subtitle {
  color: rgb(42, 42, 137);
}

.header {
  text-align: center;
}

main {
  border: 1px solid #0e6c6c;
  text-align: center;
}

.skills ol {
  list-style: none;
}

.separator {
  width: 50%;
  height: 3px;
  background-color: #2f89c9;
}

.video {
  width: 800px;
  height: 490px;
}

.ed__table {
  border-collapse: collapse;
  width: 100%;
}

.ed__table th,
.ed__table td {
  border: 1px solid #0e6c6c;
  padding: 10px;
}

.quote {
  font-size: 32px;
}

.form {
  width: 600px;
  margin: 0 auto;
}

.form input {
  width: 100%;
}

.form__control {
  width: 100%;
}

.control--text {
  width: 70%;
}

.form__submit {
  display: block;
  margin: 0 auto;
}

footer{
  height: 100px;
  text-align: center;
  background-color: #7f7d7f;
}

.contacts__links {
  text-decoration: none;
  color: #7f7;
}

